.not-found-container {
  background-image: url('https://res.cloudinary.com/dmafozp8x/image/upload/v1668447557/snow-removal-machine-working-high-ski-slope-snowstorm_454047-2149_11_htrc5u.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.go-to-home {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 0px;
  margin-top: 10px;
}
.not-found-head {
  font-size: xx-large;
}
.not-found-para {
  line-height: 0px;
}
